{% extends "main.html" %}

{% block page_name %}
Pages
{% endblock %}

{% block content %}
<h1>Pages contained in this Wiki</h1>
<div style="display: flex; justify-content: center;">
  <div class="dropdown">
    <div class="dropdown-trigger">
      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
        <span>Pages</span>
        <span class="icon is-small">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
      <div class="dropdown-content">
        {% for page in all_pages %}
          <a href="{{ url_for('pages', name=page) }}" class="dropdown-item">
            {{ page }}
          </a>
        {% endfor %}
        <hr class="dropdown-divider" />
        <a href="#" class="dropdown-item">Extra link</a>
      </div>
    </div>
  </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', () => {
      const trigger = document.querySelector('.dropdown-trigger');
      const dropdown = document.querySelector('.dropdown');
  
      trigger.addEventListener('click', () => {
        dropdown.classList.toggle('is-active');
      });
    });
  </script>
  
{% endblock %}

